/* 
  COLORS:
    Purple      -   #732C7B
    Dark Gray   -   #333333 
    Light Gray  -   #cccccc
*/

body {
    background-color: #cccccc;
}

#page_active {
    margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

.alert-box {
    display: none;
    top:0px;
    margin: 0px;
}

#li_user {
    display: none;
}

.left-side-swag {
    border-right: 1px;
    border-right-style: solid;
    border-right-color: #cccccc;
}

/*  HOME TABS   */

.home-tabs button {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    margin-bottom: 0px;   
}

.home-tabs .panel {
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;   
}

.home-tabs a h4{
    padding-left: 15px;
    margin: 0px;
    opacity: .6;
}

.home-tabs a.active h4 {
    opacity: 1;
}

.content-panel {
    background-color: #333333;
    display: none;
}


/* PLAY PAGE CSS */

#current_artist, #current_author, .artist {
    margin : 0px;
}

#div_controls > .row > .columns > a, 
#div_save > .row > .columns > button,
.div_remove > .row > .columns > a
{
    font-size: x-large;
    margin:0px;
}

#row_info .panel {
    padding-bottom: .75rem;
}

#dark_panel {
    background-color: #333333;
    padding: 0px;
    padding-top:10px;
}

.song_panel {
    margin-bottom: 10px;
}

.song_panel a {
    color: gray;
}

.song_panel.active{
    background-color:#999999;
}

.song_panel.active h5,
.song_panel.active p,
.song_panel.active a{
    color:#ffffff;
}

#btn_toggleChat i {
    font-size: x-large;
    color:gray;
}

#field_addSong, #btn_addSong {
    margin: 0px;
}

.progress {
    margin-top: 15px;
    border-color: #aaaaaa;
}

.progress .meter {
    background:#700070;
}


.message h6{
    color:#008CBA;
}

.message.purple_sender h6 {
    color:#700070;
}

.message hr{
    margin:0px;
}

.message p{
    margin:0px;
    font-size:small;
}

#panel_send {
    margin: 0px;
}

#field_message, #btn_message {
    margin: 0px;
}

#row_songs, #row_chatarea {
    height:100%;
    overflow-y:auto;
}

#add_panel {
    display: none;
}

#row_modInfo, #row_publicInfo {
    display: none;
}

#row_info .small-4 i {
    font-size: x-large;
}

a.active, button.active,
#row_info .small-4 a.active,
.home-tabs a.active button {
    background-color: #700070;
}

textarea{
    resize: none;
}

.newMessage {
    display: none;
}

#row_current, #row_info {
    height: 15vh;
    margin:0px;
}

#row_playlist, #row_chat {
    height: 40vh;
    margin:0px;
}

#dark_panel, #panel_chat {
    height: 40vh;
    margin:0px;
}