/* 
  COLORS:
    Purple      -   #732C7B
    Dark Gray   -   #333333 
    Light Gray  -   #cccccc
*/

body {
    background-color: #cccccc;
}

#page_active {
    margin-top: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

/*  search-column   */
/*
.search-column input, .search-column a.button {
    margin-bottom: 0px;
}

.search-column h4 {
    padding-left: 15px;
    margin: 0px;
}
*/
#loginAlertSuccess {
    display: none;
    top:0px;
    margin: 0px;
}

/*  HOME TABS   */

.home-tabs button {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    margin-bottom: 0px;   
}

.home-tabs .panel {
    padding: 0px;
    padding-top: 10px;
    margin-bottom: 0px;   
}

.home-tabs a.tab.active button {
    background-color: #700070;
}

.home-tabs a.tab h4{
    padding-left: 15px;
    margin: 0px;
    opacity: .6;
}

.home-tabs a.tab.active h4 {
    opacity: 1;
}

.content-panel {
    background-color: #333333;
    display: none;
}
